# Example .env file for wse-vi-framework
# Copy this file to `.env` and edit the values before running docker-compose commands

# Wowza Streaming Engine license (replace with your license key)
WSE_LICENSE_KEY=REPLACE_WITH_YOUR_WSE_LICENSE_KEY

# Admin credentials used by the container (used for bootstrapping)
WSE_ADMIN_USER=admin
WSE_ADMIN_PASSWORD=CHANGE_THIS_PASSWORD

# A Wowza Flowplayer token maybe required for test players
PLAYER_TOKEN=REPLACE_WITH_YOUR_FLOWPLAYER_TOKEN

# Information required to connect Engine to the VI Service

# Information used to connect to the VIS service

# Valid values are ws and wss. Use wss if you enable TLS encryption
# in the VIS section of the docker-compose.yaml file
VIS_PROTOCOL=ws
# The hostname where the VIS is hosted. For local Docker deployments
# where Engine and VIS run on the same machine, this value should be
# video-intelligence-service.docker
VIS_HOST=REPLACE_WITH_YOUR_VIS_HOST
# The port where VIS is listening. Default: 5001
VIS_PORT=5001
# Arbitrary api-key used to secure the communication between Wowza Streaming Engine and the Video Intelligence Service
VIS_API_KEY=REPLACE_WITH_YOUR_VIS_API_KEY

# VIS license string (required for Video Intelligence Service)
VIS_LICENSE=REPLACE_WITH_YOUR_VIS_LICENSE
